body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #F8F9FA, #E8F1F8);
    color: #333;
    overflow-x: hidden;
}

header {
    background: linear-gradient(90deg, #A5D8FF, #C3E3F7);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInDown 1s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    color: #2D6187;
    margin: 0;
    animation: pulse 2s infinite;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4a4a4a;
}

h2::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    background-color: #9ec2c9;
    margin: 10px auto;
}


nav {
    background-color: #D8E2DC;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 2px solid #A5D8FF;
    border-bottom: 2px solid #C3E3F7;
}

nav a {
    color: #2D6187;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #555;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

main {
    padding: 20px;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
}

section {
    margin: 20px auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: slideIn 1s ease-in-out;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #F8F9FA, #E8F1F8);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

section {
    margin: 20px auto;
    padding: 15px;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

footer {
    background: linear-gradient(90deg, #C3E3F7, #A5D8FF);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-top: 2px solid #E8F1F8;
    font-size: 0.9em;
    color: #555;
    position: relative;
}

footer p {
    margin: 5px 0;
}

footer p span {
    font-weight: bold;
    color: #2D6187;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}